.Main {
    flex: 1;
    background-color: #f9f9f9;
    padding: 40px 80px;
    padding-bottom: 0;

}

.Main>h2 {
    margin-left: 5px;
    margin-bottom: 20px;
}
.Main__videos{
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 5; */
    flex-shrink: 10;
}